html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
html {
	font-family: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	font-size: 62.5%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}
h3 {
	font-family: "Raleway","Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}
body {
	background: url(images/texture_7.jpg);
}

//new colors

$color2-1-l: #0399fb;
$color2-1-lm: #0070b9;
$color2-1-m: #00568e;
$color2-1-md: #004572;
$color2-1-d: #000d15;


//old colors


$color-1-m: #ff9900;
$color-1-l: #ff6600;
$color-1-d: #cc6600;

$color-2-m: #ffcc00;
$color-2-l: #ff9900;
$color-2-d: #cc9900;

$color-3-m: #0033cc;
$color-3-l: #3366ff;
$color-3-d: #000066;

$color-4-m: #0099cc;
$color-4-l: #00ccff;
$color-4-d: #006666;

@mixin gradientHue ($startG, $finishG){
  background: -webkit-linear-gradient($startG, $finishG); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($startG, $finishG); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($startG, $finishG); /* For Firefox 3.6 to 15 */
  background: linear-gradient($startG, $finishG);
}
@mixin sectionLabel (){
	font-size: 3em;
	border-radius: 50px;
	font-weight: normal;
	padding: 18px;
	text-align: center;
	color: #fff;
	width: 150px;
	text-shadow: 1px 1px 1px #222;
	margin-bottom: 30px;
	margin-top: -5px;
	box-shadow: 1px 1px 5px 0px #000, inset 0 0 3px 0 #222;
	@media screen and (max-width: 900px) {
    	width: 100px;
		font-size: 2em;
  	}
	@media screen and (max-width: 600px) {
    	width: 80px;
    	margin-top: 5px;
    	margin-bottom: 20px;
    	padding: 10px;
  	}
}
@mixin zoomOnHover (){
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}
@-webkit-keyframes nameSlide {
    from {transform: matrix(1,0.5,0,10,-500,0);
    	-webkit-transform: matrix(1,0.5,0,10,-500,0);
    	-moz-transform: matrix(1,0.5,0,10,-500,0);
    	-o-transform: matrix(1,0.5,0,10,-500,0);
    	-ms-transform: matrix(1,0.5,0,10,-500,0);
    	color: #fff;
    	}
    to {transform: translateX(0px);
    	-webkit-transform: translateX(0px);
    	-moz-transform: translateX(0px);
    	-o-transform: translateX(0px);
    	-ms-transform: translateX(0px);
    	color: #fff;
    	}
}
keyframes buttonHover {
    from {transform: scale(1,1);}
    to {transform: scale(1.1,1.1);}
}
@-webkit-keyframes buttonHover {
    from {transform: scale(1,1);}
    to {transform: scale(1.1,1.1);}
}
@mixin addTranslateY ($param){
    -moz-transform: translateY($param);
    -webkit-transform: translateY($param);
    -o-transform: translateY($param);
    transform: translateY($param);
}
@-webkit-keyframes translateYin {
   0% {opacity: 0}
   100% {
   	@include addTranslateY(-290px);
   	opacity: 1;
   }
}
@keyframes translateYin {
   0% {opacity: 0}
   85% {@include addTranslateY(-295px)}
   100% {@include addTranslateY(-290px);opacity: 1;}
}
.translate-y-in {
    -webkit-animation: translateYin 2s forwards;
    animation: translateYin 2s forwards;
}

@-webkit-keyframes translateYout {
   0% {}
   100% {
   		@include addTranslateY(-290px);
   		opacity: 0;
   }
}
@keyframes translateYout {
   0% {}
   100% {
   		@include addTranslateY(-290px);
   		opacity: 0;
   }
}
.translate-y-out {
    -webkit-animation: translateYout 2s forwards;
    animation: translateYout 2s forwards;
}

@keyframes fallIn {
    0%{
    	-webkit-transform: rotateY(50deg) rotateX(0deg) scale(0);
    	transform: rotateY(50deg) rotateX(0eg) scale(0);
    }
    100%{
    	transform: rotateY(0deg) rotateX(0deg) scale(1);
    	-webkit-transform: rotateY(0deg) rotateX(0deg) scale(1);
    }
}
@-webkit-keyframes fallIn {
    0%{
    	-webkit-transform: rotateY(50deg) rotateX(20deg) scale(0);
    	transform: rotateY(50deg) rotateX(20deg) scale(0);
    }
    100%{
    	transform: rotateY(0deg) rotateX(0deg) scale(1);
    	-webkit-transform: rotateY(0deg) rotateX(0deg) scale(1);
    }
}
.fall-in {
    -webkit-animation: fallIn 1s forwards;
    animation: fallIn 1s forwards;
}

@keyframes fadeIn {
    from{}

    to{opacity: 1}
}
@-webkit-keyframes fadeIn {
    from{}

    to{opacity: 1}
}
.fade-in {
    -webkit-animation: fadeIn 0.5s forwards;
    animation: fadeIn 0.5s forwards;
}
.fade-in-slow {
    -webkit-animation: fadeIn 2s forwards;
    animation: fadeIn 2s forwards;
}

body > .wrapper {
	//display: none;
	opacity: 0;
}


.header {
	background: url(images/repeat2.jpg);
	width: 1100px;
	height: 130px;
	background-color: #fff;
	box-shadow: 2px 2px 20px 5px #000, inset 0 0 5px 0 #000;
	margin: 10px auto 0 auto;
	padding-bottom: 20px;
	border-radius: 5px;
  	@media screen and (max-width: 1100px) {
    		border-radius: 0;
    		width: 100%;
    		height: auto;
    		margin: 0;
    		padding-bottom: 10px;
  		}

	.name-logo {
		width: 520px;
		float: left;
		display: inline-block;
		padding: 20px 0 0 20px;
		position: relative;
		&:hover {
			cursor: pointer;
		}
		@media screen and (max-width: 965px) {
			float: none;
			display: block;
			margin: auto;
			padding: 10px 0;
		}
		@media screen and (max-width: 590px) {
    		width: 100%;
  		}
	}
	.home-icon {
		display: none;
		opacity: 0;
		 background: url(images/home.png);
		 width: 40px;
		 height: 40px;
		 background-size: 100% 100%;
		 position: absolute;
		 float: left;
		 margin-left: 5px;
		 margin-top: 105px;
		 &:hover {
		 	cursor: pointer;
		 }
		 @media screen and (max-width: 1100px) {
		 	position: absolute;
		 	top: 0;
		 	right: 0;
		 	margin: 0;
		 }
		 @media screen and (max-width: 380px) {
		 	width: 30px;
		 	height: 30px;
		 }
	}
}


ul.list-options {
			float: right;
			display: inline-block;
			margin-top: 15px;
			width: 400px;
			list-style-type: none;
			font-family: "Raleway","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
			@media screen and (max-width: 965px) {
    			float: none;
    			display: block;
    			margin: auto;
    			text-align: center;
  			}
			@media screen and (max-width: 400px) {
    			width: 100%;
  			}
				li.parent-3d {
					position: relative;
					perspective: 200px;
					text-align: center;
					display: inline-block;
					//width: 120px;
					//margin: 0px 3px;
					//height: 120px;
					@media screen and (max-width: 880px) {
  					}
					@media screen and (max-width: 640px) {
  					}
					&:hover {
						cursor: pointer;
					}
					.child-3d {
						opacity: 0;
						width: 120px;
						height: 120px;
						border-radius: 5px;
						box-shadow: 1px 1px 3px 3px #000, inset 0 0 3px 0 #000;
						@media screen and (max-width: 405px) {

						}
						p {
							padding-top: 20px;
							pointer-events: none;
							color: #000;
							font-size: 22px;
							@media screen and (max-width: 400px) {
								font-size: 18px;
								padding-top: 15px;
							}
							@media screen and (max-width: 330px) {
								font-size: 16px;
								padding-top: 10px;
							}
						}
						
					}

				}
				.projects .child-3d {
					background: url(images/iconp1.jpg);
					background-size: 100% 100%;
				}	
				.interests .child-3d {
					background: url(images/iconi1.jpg);
					background-size: 100% 100%;
				}	
				.contact .child-3d {
					background: url(images/iconc1.jpg);
					background-size: 100% 100%;
				}	
		}
.main-content {
	margin: auto;
	//box-shadow: 2px 2px 50px 10px #000, 1px 1px 5px 1px #000, inset 0 0 5px 1px #333;
	@media screen and (max-width: 1100px) {
    	width: 100%;
  	}
  	@media screen and (max-width: 640px) {

    	.projects {
			@include gradientHue($color2-1-l, $color2-1-lm);
		}
		.videos {
			@include gradientHue($color2-1-lm, $color2-1-m);
		}
		.interests {
			@include gradientHue($color2-1-m, $color2-1-md);
		}
		.contact {
			@include gradientHue($color2-1-md, $color2-1-d);
		}
  	}
  		
	.current-content {
		@media screen and (max-width: 1100px) {
    		//padding: 0 10px;
  		}

		//The class of "wrap" will be the container for all ajax content requests
		
			.wrap {
					background-color: #fff;
					padding: 30px;
					border-radius: 5px;
					box-shadow: 1px 1px 20px 3px #000, inset 0 0 2px 0 #000;
					width: 1040px;
					margin: 10px auto;
					@media screen and (max-width: 1100px) {
    						border-radius: 0;
    						width: 96%;
    						padding: 2%;
    						margin: 0;
  						}
					
				h2 {
					margin-bottom: 20px;
					font-size: 2.1em;
					line-height: 30px;
					@media screen and (max-width: 600px) {
    						font-size: 1.5em;
							line-height: 25px;
  						}
				}

				h3 {
						color: #222;
						font-size: 1.8em; 
						line-height: 25px;
						font-style: normal;
						text-rendering: auto;
						@media screen and (max-width: 600px) {
    						font-size: 1.5em;
							line-height: 20px;
  						}
					}
				//Below this point are changes made for specific ajax requests and thier content

				//this scss/css is for the "MAIN" content

					.profile-img {
						background: url(images/beach_pic2.jpg) no-repeat;
						background-size: 100% 100%;
						box-shadow: 1px 1px 3px 0 #000;
  						margin: 25px 30px 0 25px;
						float: left;
						display: inline-block;
						width: 200px;
						height: 200px;
						border-radius: 125px;
						//border: 15px solid hsla(120, 60%, 0%, 0.5);
						box-shadow: inset 1px 1px 2px 1px #000, 1px 1px 2px 0 #aaa;
						@media screen and (max-width: 1100px) {
							display: none;
						}

						
					}
					.pic {
						background-size: 100% 100%;
  						margin: 0 20px 0 0;
						float: left;
						display: inline-block;
						width: 250px;
						height: 250px;
					}
					.skills {
						margin-top: 25px;
						padding: 10px;
						color: #fff;
						font-size: 2em;
						text-shadow: 1px 1px 1px #000;
						background: #999;
						background: hsla(120, 60%, 0%, 0.5);
						display: inline-block;
						width:700px;
						border-radius: 5px;
						box-shadow: inset 1px 1px 2px 1px #000, 1px 1px 2px 0 #777;
						text-align: left;
						@media screen and (max-width: 1100px) {
							margin: 10px 0 0 0;
							width: 94%;
							font-size: 2.2em;
						}
						@media screen and (max-width: 600px) {
							width: 92%;
    						font-size: 2em;
    						line-height: 28px;
    						margin-top: 5px;
  						}
  						@media screen and (max-width: 550px) {
  							font-size: 1.8em;
  							line-height: 28px;
  						}
  						@media screen and (max-width: 500px) {
  							font-size: 1.6em;
  							line-height: 25px;
  							padding: 5px;
  						}
  						@media screen and (max-width: 350px) {
  							font-size: 1.4;
  							line-height: 23px;
  							padding: 2px;
  						} 	
  						@media screen and (max-width: 300px) {
  							line-height: 20px;
  						}					
					}
					.resume {
						button {
							display: none;
							float: right;
							height: 40px;
							width: 100px;
							background-color: #384d7a;
							font-size: 1.8em;
							color: #fff;
							text-shadow: 1px 1px 5px #000;
							border-radius: 10px;
							box-shadow: 1px 1px 3px 1px #000;
							cursor: pointer;
  							@media screen and (max-width: 600px) {
  								width: auto;
  								height: auto;
  								padding: 5px 10px;
  							}
							&:hover {
							}
						}
					}
					.text-pic {
						background: url(images/wave2.jpg);
						background-size: 100% 100%;
						box-shadow: 1px 1px 5px 0 #222;
						margin: 20px 0 0 20px;
						width: 500px;
						height: 300px;
						float: right;
						border-radius: 5px;
						@media screen and (max-width: 1100px) {
							float: left;
							height: 240px;
							width: 240px;
							background: url(images/beach_pic2.jpg);
							background-size: 100% 100%;
						 	margin: 0 10px 5px 0;
						}
						@media screen and (max-width: 550px) {
							width: 150px;
							height: 150px;
						}
						@media screen and (max-width: 350px) {
							width: 90px;
							height: 90px;
						}
					}

					ul.slide-content {
						position: relative;
						z-index: 10;
						overflow: hidden;
						height: 250px;
						padding: 30px 10px;
						margin-bottom: 20px;
						@media screen and (max-width: 800px) {
							padding: 30px 2px;
						}
						li {
							display: none;
							height: 250px;
							margin-bottom: 40px;
							position: relative;
							z-index: -10;
						}
						
						.profile-slide {
							background: url(images/atlanta2.jpg);
							background-size: 100% 100%;
							border-radius: 3px;
							box-shadow: 2px 2px 10px 0 #000, inset 0 0 3px 0 #000;
							display: block;
							text-align: left;
							@media screen and (max-width: 1100px) {
								background: url(images/atlanta2.jpg);
								background-size: 100% 100%;
								box-shadow: 1px 1px 2px 0 #000, inset 0 0 3px 0 #000;
								text-align: center;
							}
						}

						.fade-top {
							box-shadow: 0 0 20px 20px #fff;
							width: 100%;
							position: absolute;
							top: 0;
						}
						.fade-bottom {
							box-shadow: 0 0 20px 20px #fff;
							width: 100%;
							position: absolute;
							bottom: 0;
						}
						.app {
							text-align: center;
							.box {
								display: inline-block;
								width: 250px;
								@media screen and (max-width: 1100px) {
									width: 23%;
								}
								p {
									font-size: 20px;
									padding: 10px 0 10px 0;
									font-family: "Open Sans";
									@media screen and (max-width: 1100px) {
										font-size: 16px;
									}
									@media screen and (max-width: 800px) {
										display: none;
									}
								}
								img {
									width: 120px;
									height: 120px;
									float: none;
									background-size: 100% 100%;
									margin: 0;
									border-radius: 5px;
									@media screen and (max-width: 800px) {
										margin-top: 40px;
									}
									@media screen and (max-width: 700px) {
										width: 90%;
									}
								}
							}
							.title {
								font-size: 35px;
								font-family: "Roboto";
								text-align: center;
								@media screen and (max-width: 1100px) {
									font-size: 30px;
								}
								@media screen and (max-width: 920px) {
									font-size: 28px;
								}
							}
						}
						.quote-moon {
							border-radius: 3px;
							box-shadow: 2px 2px 10px 0 #000, inset 0 0 3px 0 #000;
							background: url(images/moon_pic.jpg) no-repeat;
							background-size: 100% 100%;
							height: 250px;
							@media screen and (max-width: 1100px) {
								background: url(images/space2.jpg) no-repeat;
								background-size: 100% 100%;
							}
							p {
								text-align: center;
								width: 400px;
								font-size: 19px;
								padding: 30px 0 10px 50px;
								font-family: "Open Sans";
								color: #fff;
								text-shadow: 1px 1px 2px #000;
								@media screen and (max-width: 1100px) {
									margin: 0 auto;
									padding: 30px 5px;
								}
								@media screen and (max-width: 500px) {
									width: 95%;
									font-size: 17px;
								}
								span {
									line-height: 40px;
									font-family: "Times New Roman",Times,Arial,sans-serif;
									font-size: 18px;
									color: #eee;
									font-weight: 100;
								}
							}
						}
						.quote-ocean {
							border-radius: 3px;
							box-shadow: 2px 2px 10px 0 #000, inset 0 0 3px 0 #000;
							background: url(images/ocean.jpg) no-repeat;
							background-size: 100% 100%;
							p {
								text-align: center;
								margin: 0 auto;
								width: 400px;
								text-shadow: 1px 1px 1px #555;
								font-size: 28px;
								padding-top: 70px;
								font-family: "Open Sans";
								color: #111;
								@media screen and (max-width: 500px) {
									width: 300px;
									padding-top: 50px;
								}
								@media screen and (max-width: 320px) {
									font-size: 24px;
									width: 95%;
								}

								span {
									line-height: 40px;
									font-family: "Times New Roman",Times,Arial,sans-serif;
									font-size: 18px;
									color: #222;
									font-weight: 100;
								}
							}
						}
					}
				//this scss/css is for the "PROJECTS" content

				div.projects-label {
					@include sectionLabel();
					@include gradientHue($color2-1-l, $color2-1-lm);
				}
				ul {
					list-style-type: none;
				}
				.wrapper {
					background: url(images/repeat2.jpg);
					border-radius: 5px 5px 5px 5px;
					padding: 20px;
					margin: 20px;
					box-shadow: 2px 2px 10px 2px #000, inset 0 0 2px 0 #000;
					@media screen and (max-width: 700px) {
						margin: 20px 0;
  						}
					
					h2 {
						font-size: 2.5em;
						text-shadow: 1px 1px 5px #000;
						font-weight: bold;
						color: #fff;
						line-height: 1.1em;
						font-family: "Roboto","Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
						@media screen and (max-width: 500px) {
							font-size: 2.5em;
  						}
  						@media screen and (max-width: 420px) {
							font-size: 2em;
  						}
					}
					p {
						color: #ccc;
						font-weight: bold;
						font-size: 1.5em;
						font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
						text-shadow: 1px 1px 3px #000;
						@media screen and (max-width: 450px) {
							font-size: 1.4em;
  						}
					}
					img {
						margin-right: 50px;
						border-radius: 5px;
						float: right;
						width: 110px;
						height: 110px;
					}
					.technologies {
						border: 1px solid #aaa;
						padding: 7px;
						display: inline-block;
						border-radius: 10px;
						margin-top: 10px;
						background-color: hsla(120, 60%, 0%, 0.5);
						box-shadow: 2px 2px 5px 2px #000;


						h3 {
							font-size: 1.8em;
							color: #fff;
							text-shadow: 1px 1px 5px #000;
							@media screen and (max-width: 450px) {
							font-size: 1.5em;
  						}
						}
					}

					button {
						padding: 10px;
						font-size: 1.8em;
						color: #fff;
						text-shadow: 1px 1px 5px #000;
						border-radius: 10px;
						box-shadow: 2px 2px 5px 2px #000;
						margin-right: 10px;
						margin-top: 10px;
						cursor: pointer;
						&:hover {
							box-shadow: 2px 2px 6px 3px #000;
						}
					}
					.view-site {
						background-color: #387a43;
					}
					.view-code {
						background-color: #384d7a;
					}
				}


				//"INTERESTS" content below

				.interests-content {
					padding-bottom: 10px;
					div.interests-label {
						@include sectionLabel();
						@include gradientHue($color2-1-m, $color2-1-md);
					}
					img {
						border-radius: 5px;
						box-shadow: 1px 1px 5px 0 #000;
						height: 250px;
						width:400px;
						display: inline-block;
						@media screen and (max-width: 600px) {
    						height: 50px;
    						width: 100px;
  						}
					}
					img.computer {
						float: left;
						margin-right: 10px;
					}
					img.mountain {
						float: right;
					}
				}


					

			}
				
				
	}
}
.footer {
	background: url(images/repeat3.jpg);
	margin: 10px auto;
	padding: 20px;
	width: 1060px;
	height: 120px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 2px #000, inset 0 0 3px 0 #000;
	text-align: center;
	@media screen and (max-width: 1100px) {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.contact-container {
		height: 55px;
		margin-top: 5px;
		padding-left: 5px;
		display: none;
		@media screen and (max-width: 800px) {
			display: block;
		}
	}
	.large-icon {
		display: inline-block;
		@media screen and (max-width: 800px) {
			display: none;
		}
	}
	h2 {
		line-height: 0px;
		padding-top: 60px;
		margin-bottom: -60px;
		text-shadow: 1px 1px 2px #000;
		color: #fff;
		font-size: 70px;
		pointer-events: none;
		@media screen and (max-width: 800px) {
			display: none;
		}
	}
	p {
		padding-top: 10px;
		color: #fff;
		font-size: 25px;
		display: none;
		@media screen and (max-width: 800px) {
			display: inline-block;
		}
		@media screen and (max-width: 360px) {
			font-size: 16px;
			padding-top: 15px;
		}
	}
	.email {
		float: left;
		background: url(images/email.png);
		background-size: 100% 100%;
		display: inline-block;
		height: 120px;
		width: 120px;
		&:hover {
			cursor: pointer;
			@include zoomOnHover;
		}
		@media screen and (max-width: 800px) {
			display: none;
		}
	}
	.phone {
		float: right;
		background: url(images/phone.png);
		background-size: 100% 100%;
		display: inline-block;
		height: 120px;
		width: 120px;
		&:hover {
			cursor: pointer;
			@include zoomOnHover;
		}
		@media screen and (max-width: 800px) {
			display: none;
		}
	}
	.phone-small{
		float: left;
		background: url(images/phone.png);
		background-size: 100% 100%;
		display: inline-block;
		width: 50px;
		height: 50px;
	}
	.email-small{
		float: left;
		background: url(images/email.png);
		background-size: 100% 100%;
		display: inline-block;
		width: 50px;
		height: 50px;
	}

	
}


.clear {
	clear: both;
}
.indent {
	text-indent: 3em;
}
.center-text {
	text-align: center;
}
.left {
	float: left;
}
.right {
	float: right;
}

